/*
.main-header {
    outline: 3px solid red;
 }
.container { }
.main-navigation {
    outline: 3px solid red;
 }
.main-header-logo {
    outline: 3px solid red;
 }
.navigation-list {
    outline: 3px solid red;
 }
.navigation-item { 
    outline: 3px solid red;
}
.basket-list { 
    outline: 3px solid red;
}
.backet-item {
    outline: 3px solid red;
 }
.sliders { }
.visually-hidden { }
.sliders-list { }
.sliders-item { }
.sliders-item-wrapper { }
.button { }
.slider-backgroundimg-1 { }
.products { }
.products-list { }
.products-item-1 { }
.products-name { }
.products-item-2 { }
.products-item-3 { }
.information { }
.information-header { }
.p-beafor-ul { }
.work-list { }
.work-item { }
.advantages { }
.advantages-list { }
.advantages-item { }
.partners { }
.partners-list { }
.partners-item { }
.main-footer { }
.map { }
.contact-information { }
.social { }
.social-list { }
.social-item { }
.sale { }
.popup-form { }